.advert-text-right{
    text-align: start;
    padding-left:30px;
    padding-bottom:10px;
    color: #909ba5;
    /* pading-b */
  }
  .ad-right{
    width:240px;
    height:180px;
    border: 10px solid #ffffff;
    border-radius: 5px;
  }
  .advertising-right{
  
  }
  .thin-line-pop{
      background-color:#a7caaa;
      height:1px;
  }
  .icon-pop{
      color:#76b389
  }
    .button-cont{
      background: #141521;
      color: #f9f9f9;
      border: 1px solid #0e6f2a;
      margin-top:20px;
      height: 20px;
      width: 150px;
      border-radius: 3px;
      font-size:12px;
      font-weight: 600
    }
  .avatar-connections{
      border-radius: 50px;
      cursor: pointer;
  }
  .view-all{
      padding: 4px;
      font-weight: 600;
      font-size: 18px;
      color:#057426;
      text-align:start;
      cursor: pointer;
  }
  .number{
      color:#07c83f;
      font-size:12px
  }
  .views-and-genre{
      grid-column: 2/3;
      grid-row: 3/4;
      color: #626973;
      padding-left: 10px;
  
  }
  .song-title{
      grid-column: 2/3;
      grid-row: 2/3;
      color: #0c8817;
      padding-left: 10px;
  }
  .avatar{
      grid-column: 1;
      grid-row :1/4;
      border: 1px solid whitesmoke ;
      cursor: pointer;
  }
  .artiste-name{
      grid-column: 2/3;
      grid-row: 1;
      font-weight: 800;
      color: #69b77f;
      cursor: pointer;
      padding-left: 10px;
  /* #1A1B27,#141621,#3B9466,#36815B-"david",#004E1F-dance, #626973, #909BA5-most populr */
  }
  .popular-grid{
      padding: 10px;
      display:grid;
      grid-template-columns:1fr 8fr;
      grid-template-rows: 1fr 1fr 1fr;
      font-size: 12px;
      /* font-weight: 600; */
      justify-items: start;
      /* grid-gap: 5px */
  }
  .popular-heading{
      padding: 10px;
      font-weight: 700;
      color:#909BA5
  }
  .thin-line{
      background-color:#BFBFBF;
      height:2px;
      /* padding-top:10px */
  }
  .popular-container{
      display: flex;
      justify-content: center
  }
  .popular-container-1{
      background-color: #141621;
      height: auto;
      width : 250px;
      padding: 10px;
      border-radius : 8px;
  }
  .right-nav{
      background-color: #1A1B27;
      /* position: absolute; */
      /* height:100vh; */
      width:300px;
  }
  .popular-heading{
      display: flex;
      justify-content: space-between;
  }
  .pop-container{
      display: flex;
      justify-content: space-between;
  }